<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name ="viewport" content="width = device-width, initial-scale = 1.0"/>
    <title>Mercado Liebre - Registro</title>
   
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="/css/stylesheet.css" rel="stylesheet"> 
<link href="/css/colors.css" rel="stylesheet">  
<link href="/css/themes.css" rel="stylesheet"> 

<link 
href="/css/sm-sc.css" 
rel="stylesheet"
media="(min-width:480px)"
> 
<link 
href="/css/md-sc.css" 
rel="stylesheet"
media="(min-width:768px)"
> 
<link 
href="/css/lg-sc.css" 
rel="stylesheet"
media="(min-width:1280px)"
> 


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body class="Bg-lightgrey">
    <header class="Bg-yellow">
        <div class="flex">
        <img src="img/logo-mercado-liebre.svg" class="img product-padding W-50" alt="Mercado Liebre Logo">
        <div class="product-padding W-50"><input type="text" width="70%" placeholder="Buscar"><button type="button" width="30%" class="fas fa-search "></button></div>
        <p><i class="fas fa-hand-holding-usd comment"></i> compra en cuotas sin interes</p>
    </div>
      
        <nav id="main-nav" >
            <ul class="flex-head W-50">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                </ul>
            <ul class="flex-header ">
                <li><a href="">Crea tu cuenta<i class="fas fa-address-card"></i> </a></li>
                <li><a href="">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
      
        <div class="class-burger">
        <i class="fas fa-bars"></i>
</div>
    </header> 
    <main>
        <form>
            <input type="text" value="nombre">
            <input type="password" value="Contraseña">
        </form>
    </main>
    <footer class="txt-center flex"> 
        <div class="W-30">
                <div ><i class="fas fa-credit-card small-logo"></i></div>
                <b>Paga con tarjeta o efectivo</b>
                <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</div>     
                </div>
        <div class="W-30">
                <div ><i class="fas fa-gift small-logo"></i></div>
                <b>Envío gratis desde $ 2.500</b>
                <div> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos. </div>
        </div>
        <div class="W-30">
                <div ><i class="fas fa-user-shield small-logo"></i></div>   
                <b>Seguridad, de principio a fin</b>
                <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</div>
        </div>
        <br>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </footer>
        </body>