.class-body{
    font-size: 12PX;
}
.class-price{
    font-size: 18px;
}
.class-title{
    font-size: 24px;
}
.class-desc{
    font-size: 16px;
}
.class-off{
    font-size: 16px;
}
.class-burger{
    text-align: center;
    padding:5px;
}
.class-burger i{
    text-align:center;
    font-size: 14px;
    padding: 12px;
    width:40px;
   border: solid 1px blue;
   background-color: blue;
   color:white;
   border-radius: 5px;
 }
.txt-center{
    text-align: center;
}
.small-logo{
    color:blue;
    font-size: 2em;
    margin-bottom: 10px;
}
.product{
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
}
.article-foot{
    border-top:1px #ebebeb solid;
    padding:15px;
    text-align: left;
    position:relative;
}
.img{
    width: 100%;
}
.brd-logo{
    font-size: 16px;
    padding: 5px;
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid greenyellow;
    border-radius: 50%;
}
.product-padding{
    padding: 15px;
}
.main-label{
    font-size: 16px;
    color:rgb(31, 26, 26);
    font-weight: bold;
}
.form-input{
    border: 1px darkgray;
    
}

